@{
    ViewData["Title"] = "Accueil";
}

<div class="bg-primary text-white py-5">
    <div class="container text-center">
        <h1 class="display-4">Bienvenue sur EcoConseil</h1>
        <p class="lead">Explorez notre plateforme d'apprentissage dédiée à l'écologie et à la durabilité.</p>
        <hr class="my-4 bg-light">
    </div>
</div>

<div class="container text-center mt-4">
    <p>Apprenez sur l'écologie, visualisez nos cours, découvrez des ressources et entrez en contact avec notre équipe.</p>
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-3 mb-3">
            <a class="btn btn-light btn-lg btn-block" href="/Cours" role="button">Découvrir les Cours</a>
        </div>
        <div class="col-md-3 mb-3">
            <a class="btn btn-light btn-lg btn-block" href="/Etudiant" role="button">Découvrir les Étudiants</a>
        </div>
        <div class="col-md-3 mb-3">
            <a class="btn btn-light btn-lg btn-block" href="/Ressource" role="button">Voir les Ressources</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-light btn-lg btn-block" href="/Contact" role="button">Contactez nous</a>
        </div>
    </div>
    <div class="text-center mt-4">
        <a class="btn btn-light btn-lg" href="/Connexion" role="button">Connectez-vous</a>
    </div>
</div>


